{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADEMA Pi Base OK</title>
    <link rel="stylesheet" href="{% static 'core/styles.css' %}">
</head>
<body>
    <main class="container">
        <header>
            <h1>ADEMA Pi Base OK</h1>
            <p>This is the initial Django app running on ADEMA Pi.</p>
        </header>
        <section class="status">
            <h2>Status</h2>
            <ul>
                <li><span>Hostname:</span> {{ hostname }}</li>
                <li><span>Python:</span> {{ python_version }}</li>
                <li><span>Django:</span> {{ django_version }}</li>
                <li><span>Database:</span> {{ database_engine }}</li>
            </ul>
        </section>
    </main>
</body>
</html>
